{% extends "spareapp/base.html" %}

{% block title %} Kmotorshop.com{% endblock %}

{% block content %}


<div id="invoice" class="resultadoBusqueda">
    <div class="row">
        <div class="col-12 color p-2 text-white d-flex justify-content-center">
            {{spare.0.spare_name}} - {{spare.0.spare_brand}}
        </div>
        <div class="imagecont col-6 mt-2 d-flex justify-content-center">
            <div style="background-image: url('/media/{{spare.0.spare_photo}}');"" class="mimage"></div>
        </div>
        <div class="conteni col-6">
            <div class="color p-1 text-white mt-2 radius" for="">Code</div>
            <div class="hover"><a href="">{{spare.0.spare_code}}</a></div>
            <div class="color p-1 text-white mt-2 radius" for="">Brand</div>
            <div class="hover"><a href="{% url 'brand' spare.0.spare_brand %}">{{spare.0.spare_brand}}</a></div>
            <div class="color p-1 text-white mt-2 radius" for="">Name</div>
            <div class="hover"><a href="{% url 'name' spare.0.spare_name %}">{{spare.0.spare_name}}</a></div>
        </div>
        <div class="col-12">
        <!-- Si está ligado a un carro -->
        {% if spare.0.car_info.all %}
        <div id="accordion">
            <div class="card mt-2">
                <div class="card-header color">
                    <a class="card-link text-white" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        Spare part targets
                    </a>
                </div>
                {% for sp in spare %}
                <div id="collapseOne" class="collapse">
                    <div class="card-body">
                        {% for ob in sp.car_info.all%}
                          <div><a href="{% url 'model' ob.car_model %}">{{ob.car_manufacturer}} {{ob.car_model}}</a></div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        </div>

        <div class="col-12">
            <!-- Si está ligado a un repuesto -->
            {% if spare.0.spare_spare.all %}
            <div id="accordion">
                <div class="card mt-2">
                    <div class="card-header color">
                        <a class="card-link text-white" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                            Spare part targets
                        </a>
                    </div>
                    {% for sp in spare %}
                    <div id="collapseTwo" class="collapse">
                        <div class="card-body">
                            {% for ob in sp.spare_spare.all %}
                              <div><a href="{% url 'sparedetails' ob.spare_code %}">{{ob.spare_code}} {{ob.spare_name}}</a></div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>

        <div class="col-12">
            <!-- Si el repuesto tiene medidas -->
            {% if spare.0.shape %}
            <div id="accordion">
                <div class="card mt-2">
                    <div class="card-header color">
                        <a class="card-link text-white" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                            Dimensions
                        </a>
                    </div>
                    {% if spare.0.long %}
                    <div id="collapseThree" class="collapse">
                        <div class="card-body">
                              <div><a href="#">Long: {{spare.0.long}}</a></div>
                        </div>
                    </div>
                    {% endif %}
                    {% if spare.0.wide %}
                    <div id="collapseThree" class="collapse">
                        <div class="card-body">
                              <div><a href="#">Wide: {{spare.0.wide}}</a></div>
                        </div>
                    </div>
                    {% endif %}
                    {% if spare.0.high %}
                    <div id="collapseThree" class="collapse">
                        <div class="card-body">
                              <div><a href="#">High: {{spare.0.high}}</a></div>
                        </div>
                    </div>
                    {% endif %}
                    {% if spare.0.diameter %}
                    <div id="collapseThree" class="collapse">
                        <div class="card-body">
                              <div><a href="#">Diameter: {{spare.0.diameter}}</a></div>
                        </div>
                    </div>
                    {% endif %}
                    {% if spare.0.radio %}
                    <div id="collapseThree" class="collapse">
                        <div class="card-body">
                              <div><a href="#">Radio: {{spare.0.radio}}</a></div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endif %}
        </div>

    </div>
</div>

{% endblock %}

