{% extends "spareapp/base.html" %}

{% block title %} Kmotorshop.com{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://use.fontawesome.com/2972279885.js"></script>

<div id="invoice" class="resultadoBusqueda">
    <div class="row">
        <div class="col-12 color p-2 text-white d-flex justify-content-center">
            {{spare.0.spare_name}} - {{spare.0.spare_brand}}
        </div>
        <div class="imagecont col-6 mt-2 d-flex justify-content-center">
            <div style="background-image: url('/media/{{spare.0.spare_photo}}');"" class="mimage"></div>
        </div>
        <div class="conteni col-6">
            <div class="color p-1 text-white mt-2 radius" for="">Code</div>
            <div><a href="">{{spare.0.spare_code}}</a></div>
            <div class="color p-1 text-white mt-2 radius" for="">Brand</div>
            <div><a href="{% url 'brand' spare.0.spare_brand %}">{{spare.0.spare_brand}}</a></div>
            <div class="color p-1 text-white mt-2 radius" for="">Name</div>
            <div><a href="{% url 'name' spare.0.spare_name %}">{{spare.0.spare_name}}</a></div>
        </div>
        <div class="col-12">

            <div class="">
                <div class="panel-group" id="accordion" aria-multiselectable="true">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <div class="panel-title color p-2">
                        <a class="accordion-toggle text-white data-toggle="collapse" href="#shapes" aria-expanded="false">
                              Cars
                          </a>
                        </div>
                    </div>
                    <div id="shapes" class="panel-collapse collapse" data-parent="#accordion">
                      <div class="panel-body">
                        <ul>
                          <li>Line</li>
                          <li>Circle</li>
                          <li>Rectangle</li>
                        </ul>
                      </div>
                    </div>
                  </div>
    
                </div>
            <!-- <div class="accordion" id="accordionExample">
                {% for sp in onlyManufCars %}
                <div class="accordion-item">
                  <h2 class="accordion-header" id="heading{{sp.car_manufacturer}}">
                    <button class="accordion-button color text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{sp.car_manufacturer}}" aria-expanded="true" aria-controls="collapse{{sp.car_manufacturer}}">
                    {{sp.car_manufacturer}}
                    </button>
                    </h2>
                    <div id="collapse{{sp.car_manufacturer}}" class="accordion-collapse collapse category-content color-soft" aria-labelledby="heading{{sp.car_manufacturer}}" data-bs-parent="#accordionExample">
                    {% for s in spare %}
                        {% for a in s.car_info.all %}
                            {% if sp.car_manufacturer == a.car_manufacturer %}
                            <div class="accordion-body">
                                <a class="" href="">{{a.car_model}}</a>
                            </div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                  </div>
                </div>
                {% endfor %}
            </div> -->
        </div>
    </div>
</div>

{% endblock %}

