<html>
<body>
    <div class="options my-2">
        <div class="row align-items-center">
            <div class="col-3">
                <input class="filter form-control p-1" type="text" id="myInput" placeholder="Filter">
            </div>
            <div class="col-1">
                <div id="default" class="btn btn-success">Default</div>
            </div>
            <div class="col-8">
                <div class="d-flex justify-content-end">
                    <button class="btn btn-success ml-2" onClick="viewPDF()">View</button>
                    <button class="btn btn-success ml-2" onClick="generatePDF()">PDF</button>
                    <button class="btn btn-success ml-2" id="downloadexcel">Excel</button>
                </div>
            </div>
        </div>
    </div>  
</body>
</html>